In [5]:
# Importing the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# Reading the data from input csv file into a Pandas DataFrame
computers = pd.read_csv("datasets/computers.csv") 

# Printing the first 5 rows
computers.head()

   Units  Minutes
0      1       23
1      2       29
2      3       49
3      4       64
4      4       74